<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test {{ title|default('no options') }}</title>
</head>
<body>

<footer>
    <p>
        Source file: {{ _file.relative }}<br>
        Target file: {{ _target.relative }}
    </p>
</footer>
</body>
</html>
